/* Customizer / Kirki Styling */

.customize-control-kirki-switch .switch label {border-radius:5px}
.customize-control-kirki-switch .switch label:after {border-radius:3px}

.control-section-kirki-default .customize-control-title {margin-top:6px}

.control-section-kirki-default .customize-control-description {
    margin-top:-4px;
    margin-bottom:8px;
}

li.customize-control a.tooltip.hint--left {
    top:6px;
    text-decoration:none;
}

.customize-control {margin-bottom:28px}

.kirki-reset-section {text-decoration:none; display:none}



/* Elementor Styling */
/*
.elementor-background-overlay,
.elementor-element-overlay,
.elementor-editor-element-settings {z-index:10000 !important}

.elementor-widget-wrap {z-index:10010}

.elementor-section-wrap {border:1px solid #000}

.elementor-section-wrap .elementor-top-section .elementor-container .elementor-row {margin-top:50px !important; }

 .elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-widget-settings,
.elementor-editor-active .elementor.elementor-edit-mode .elementor-editor-column-settings {z-index:10020}


/* Styling for OT Labels */

.format-setting-label,
.option-tree-setting-body .format-settings .label {
	border-bottom:0 !important;
	margin:5px 0 5px !important;
	padding:0 !important;
	width:100%;
}
.option-tree-setting-body .format-settings .label {margin:25px 0 5px !important}



/* Hide unused Portfolio format options */

.post-type-themo_portfolio .post-format-gallery,
.post-type-themo_portfolio .post-format-video,
.post-type-themo_portfolio .post-format-audio,
.post-type-themo_portfolio #post-format-gallery,
.post-type-themo_portfolio #post-format-video,
.post-type-themo_portfolio #post-format-audio,
.post-type-themo_portfolio .post-format-quote,
.post-type-themo_portfolio #post-format-quote,
.post-type-themo_portfolio .post-format-aside,
.post-type-themo_portfolio #post-format-aside {display:none}

.post-type-themo_portfolio #post-formats-select br {display:none}

.post-type-themo_portfolio #post-formats-select label:after {
	content:" ";
	display:block;
}



/* Page Layout / Disable nav section */

#themo_page_layout_meta_box .inside {padding-top:15px}

#themo_page_layout_meta_box .rwmb-label {
	font-weight:bold;
	margin-top:10px;
	margin-bottom:10px;
}



/* Override Formidable inline CSS affecting Shortcodes input */

.wp-admin #TB_ajaxContent,
.wp-admin #TB_ajaxContent #su-generator {
	min-height:400px !important;
	max-height:90% !important;
}



/* OptionTree / Meta Box */

.ot-metabox-wrapper .wp-editor-container {border:1px #dedede solid !important}

#setting_themo_template_select_help {display:none}

.checkbox-inline-wrap .type-checkbox .format-setting-inner p {
    padding-right:10px !important;
    width:auto !important;
}

#poststuff .postbox.ot-meta-box .inside {background-color:#fff !important}

#poststuff .format-setting-label .label {
	font-size:1.1em !important;
	color:#444 !important;
}


/* Hide unwanted notices */

/* Widget Logic */
#wpchefgadget_alert_lla {display:none !important}

/* Rev Slider */
#message.rs-update-notice-wrap {display:none !important}



/* Master Slider notice styling */

body.toplevel_page_masterslider .notice-info p .th-dismiss {
	position:absolute;
	right:30px;
}

/* Show/hide TGMPA warnings styling */
body.toplevel_page_stratus_dashboard div#setting-error-tgmpa,
body.th-not-activated div#setting-error-tgmpa {
	display: none;
}

body.toplevel_page_stratus_dashboard.th-activated div#setting-error-tgmpa {
	display: block;
}

/* Stratus Theme notice styling */
#stratus-notice {
	border-color: #045089;
	margin-bottom: 20px;
}
.stratus-notice {
	color: #2b2b2b;
	align-items: center;
	padding: 10px;
}
.stratus-notice .stratus-message-icon img {
	max-width: 60px;
}
.stratus-notice h3 {
	margin-top: 0;
	margin-bottom: 5px;
}
.stratus-notice .stratus-link a {
	display: inline-block;
	background: #045089;
	color: #fff;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	padding: 10px 15px;
	border-radius: 3px;
}
.stratus-notice .stratus-link a:hover {
	opacity:0.9;
}
#stratus-dismiss-notice {
	padding: 10px;
	display: inline-block;
}

/* Stratus Theme Dashboard styling */
.th-stratus-page-wrapper {
	background: #fff;
	margin: 15px;
	padding: 30px;
	box-shadow: 0 0 15px rgba(0,0,0,0.1);
	border-radius:6px;
}
.th-stratus-logo-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.th-stratus-logo-wrapper img {
	margin-right: 10px;
}
.th-stratus-admin-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 100%;
}

/* Stratus Theme Dashboard Menu styling */
.th-stratus-admin-wrapper .th-stratus-admin-menu {
	width: 200px;
	display:none;

}
.th-stratus-admin-wrapper .th-stratus-admin-menu ul li.th-stratus-theme {
	padding: 10px 0 10px 10px;
}
.th-stratus-admin-wrapper .th-stratus-admin-menu ul li.th-stratus-theme a {
	color: #aaa;
	text-decoration: none;
	font-weight: 600;
}
.th-stratus-admin-wrapper .th-stratus-admin-menu ul li.th-stratus-theme.active a {
	color: #000;
}

/* Stratus Theme Dashboard Content styling */
.th-stratus-admin-wrapper .th-stratus-admin-content {
	width: 100%;
}
.th-stratus-admin-wrapper .th-stratus-admin-content .th-stratus-admin-section {
	display: block;
	background: #f7f7f7;
	padding: 30px;
	margin-bottom: 20px;
	border-radius: 6px;
}
.th-stratus-admin-wrapper .th-stratus-admin-content .th-stratus-admin-section.disabled-section {
	opacity: 0.2;
	background: rgba(200,200,200,0.4);
}
.th-stratus-admin-wrapper .th-stratus-admin-content .th-stratus-admin-section:last-child {
	margin-bottom: 0;
}
.th-stratus-admin-wrapper .th-stratus-admin-content h2 {
	font-size: 24px;
}
.th-stratus-admin-wrapper .th-stratus-admin-content h2.red {
	color: #DA3848;
}

.th-stratus-admin-wrapper .th-activation-intro {margin-bottom:20px}

.th-stratus-admin-section form input[type="text"] {
	padding: 10px 20px;
	width: 250px;
	border-radius: 5px;
	border: 1px solid #ddd;
	color: #777;
	background: #fff;
	box-shadow: none;
}

.th-stratus-page-wrapper .th-help-section {padding:0 30px 10px}

.th-stratus-page-wrapper .th-help-section a {
	color:#045089;
	text-decoration:none;
}
.th-stratus-page-wrapper .th-help-section a:hover {color:#83B442}
.th-stratus-page-wrapper .th-help-section a:focus {
	outline:0;
	box-shadow:none;
}


/* Stratus Theme Dashboard Buttons styling */
.stratus-button,
.th-stratus-admin-content .envato-setup-actions.step .button-primary {
	display: inline-block;
	padding: 10px 20px;
	border-radius: 5px;
	border: none;
	text-shadow: none;
	box-shadow: none;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	text-decoration: none;
	line-height: 1;
	height: 48px;
	min-width: 100px;
	text-align: center;
}

.th-stratus-admin-content .envato-setup-actions.step .button-primary {height:auto; padding:16px 20px;}


a.stratus-button {
	padding:16px 0;
	height: auto;
}
.stratus-button.button-disable:hover {
	color: #fff; 
	cursor: default;
}
.stratus-button:not(.button-disable):hover,
.th-stratus-admin-content .envato-setup-actions.step .button-primary:hover {
	color: #fff;
	opacity:0.9;
	cursor: pointer;
}
.button-green,
.th-stratus-admin-content .envato-setup-actions.step .button-primary {
	background: #83B442;
}
.button-blue {
	background: #045089;
}
.th-stratus-admin-content .th-stratus-admin-section input[type="submit"]:disabled {
	background: #444444 !important;
	color: #fff !important;
	cursor: default;
}

/* Stratus Theme Dashboard Additional Links styling */
a.link-need-help {
	color: #045089;
	text-decoration: none;
}
a.link-need-help:hover {
	color: #83B442;
}
a.link-need-help:focus {
	outline:0;
	box-shadow:none;
}
.ml20 {
	margin-left: 20px;
}
.upper-case {
	text-transform: uppercase;
}

/* Stratus Theme Dashboard Envato and Purchased Codes Part styling */
.purchase-code-wrapper {
	display: none;
	padding: 0 0 15px 0;
}
.th-stratus-admin-content .envato-info-text,
.th-stratus-admin-content .envato-wizard-plugins {
	display: inline-block;
	margin-bottom: 5px;
}
.th-stratus-admin-content .envato-wizard-plugins {
	font-weight: 600;
}
.th-stratus-admin-content .envato-wizard-plugins span {
	font-style: italic;
	font-weight: 400;
}
.th-stratus-admin-content .envato-info-text {
	font-style: italic;
}
.th-stratus-admin-content .envato-setup-actions.step {
	margin-top: 0;
}
.th-stratus-admin-content p.error-msg {
	color: #f00;
	margin: 0;
	display: none;
}
.th-stratus-admin-content p.notice-msg {
	color: #f00;
}

/* Modal Window Styles */
.th-modal {
  display: none;
  position: fixed;
  z-index: 10000000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.6);
}
.th-modal-content {
  position: relative;
  background-color: #fefefe;
  margin: 0 auto;
  top: 20%;
  padding: 0px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  width: 60%; /* Could be more or less, depending on screen size */
  min-height: 40%;
  max-height: 80%;
  overflow: auto;
  border-radius: 5px;
}
.th-modal-header {
  padding: 20px;
  background-color: #83B442;
}
.th-modal-header h2 {
	color: #fff;
	margin: 0;
	padding: 0;
}
.th-modal-body {
	padding: 10px 20px;
}
.th-modal-body ul {
	margin-left: 20px;
	list-style: disc;
}
.th-close {
  color: #fff;
  float: right;
  margin-top: 18px;
  margin-right: 18px;
  font-size: 28px;
  font-weight: bold;
}
.th-close:hover,
.th-close:focus {
  color: #DA3848;
  text-decoration: none;
  cursor: pointer;
} 

@media (min-width: 651px) {
	.stratus-notice {
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: -webkit-flex;
	  display: flex;
	}
	.stratus-notice .stratus-message-icon {
		padding-right: 20px;
	}
	.stratus-notice .stratus-link {
		padding-left: 20px;
		/*text-align: right;*/
		min-width: 200px;
	}
}

@media (max-width: 650px) {
	.stratus-notice .stratus-message {
		padding: 10px 0;
	}
}


/* Customizer Styling */

.thmv-customizer-separator {
	/*  styles for separator goes here */
	font-size: 24px;
}

.thmv-customizer-heading {
	font-size: 1.5em;
	letter-spacing: 0.08em;
	font-weight: 600;
	color: #5a626b;
	text-shadow: 0 1px 1px #FFFFFF;
	margin-top: 25px;
	text-transform: uppercase;
}

/* Kirki Styles - Header Styles */
.thmv-customizer-divider {
	border-bottom: 1px solid #FFF;
	background-color: #DADADA;
	height: 1px;
	margin: 1.5em 0px 1.5em;
}

.thmv-customizer-divider span {
	display: block;
	width: 50px;
	height: 1px;
	background-color: #969696;
}

/* Kirki Styles - Header & Footer Panel */

#customize-theme-controls .accordion-section-content#sub-accordion-section-header_footer li.customize-control:not(.customize-section-description-container,
 li[id^='customize-control-thmv_customizer'],
 li[id='customize-control-thmv_standard_header_switch'],
 li[id='customize-control-thmv_standard_header_notice'],
 li[id='customize-control-thmv_hfb_switch'],
 li[id='customize-control-thmv_hfb_notice']
 ){
	padding-left: 14px;
	padding-right: 14px;
	width: auto;
}

#customize-theme-controls .accordion-section-content#sub-accordion-section-header_footer li[id^='customize-control-thmv_customizer'],
#customize-theme-controls .accordion-section-content#sub-accordion-section-header_footer li[id='customize-control-thmv_standard_header_switch'],
#customize-theme-controls .accordion-section-content#sub-accordion-section-header_footer li[id='customize-control-thmv_standard_header_notice'],
#customize-theme-controls .accordion-section-content#sub-accordion-section-header_footer li[id='customize-control-thmv_hfb_switch']{
	border-bottom: none;
	padding-bottom: 0;
	margin-bottom: 0;
}

#customize-control-thmv_hfb_switch div.switch label, #customize-control-thmv_standard_header_switch div.switch label{
	margin-top:10px;
}

#customize-theme-controls #customize-control-thmv_hfb_notice {
	width:91%;
	padding:2% 4%;
	border:2px solid #0073aa;
	background:#0073aa17;
	border-radius:6px;
}

/* Kirki Styles - All Control Styles */
#customize-theme-controls .accordion-section-content {
	background-color: #fff;
}

#customize-theme-controls .accordion-section-content li.customize-control {
	padding-bottom: 14px;
	border-bottom: 1px solid #f5f5f5;
}

#customize-theme-controls .accordion-section-content li:last-of-type,
#customize-theme-controls .accordion-section-content li.customize-section-description-container {
	padding-bottom: 0;
	border-bottom: none;
}

#customize-control-themo_footer_copyright,
#customize-control-themo_footer_credit {width:90% !important}


/* Admin notice HFE */

.thmv_hfe_edit span {
	display: block;
	margin: 0.5em 0.5em 0 0;
	clear: both;
}